.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/*HEADER*/
.logo {
    padding-top: 20px;
    display: flex;
}

.logo a {
    text-decoration: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(95, 82, 82);
}

.navbar li {
    float: right;
}

/*SLIDER*/

.slider-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 500px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    top: 0;
    left: 0;
}

.slider {
    width: 100%;
    position: relative;
    height: 500px;
}

.slide:first-child {
    opacity: 1;
    z-index: 1;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.prev-btn,
.next-btn {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}

.slider-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

/*POST*/

.post {
    flex: 1;
    margin: 10px;
    background-color: rgb(164, 164, 164);
}


img {
    max-width: 100%;
    height: auto;
}


.post-button {
    background-color: rgb(95, 82, 82);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 10px auto;
}


/*Banner*/

.banner {
    background-color: rgb(95, 82, 82);
    color: white;
    padding: 8px;
    text-align: center;
}

.banner hr {
    border: 1px solid white;
    margin: 20px auto;
    width:40%;
}